@import url('https://fonts.cdnfonts.com/css/pixcon');

.button {
    -fx-background-color: #C8A2C8;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #9673A6;
    -fx-border-width: 2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #9D7BA9;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #7D528A;
}

@font-face {
    font-family: 'PixCon';
}

.label {
    -fx-font-family: 'PixCon';
}